body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #000000; /* Color de fondo */
}

#surpriseButton {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    background-color: #FF9A00; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
}

#message {
    display: none;
    font-size: 26px; 
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF; /* Color del mensaje */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro transparente */
    padding: 15px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
}


.heart {
    position: fixed;
    bottom: -100px;
    height: 60px;
    width: 60px;
    font-size: 35px;
    opacity: 0.7;
}

@keyframes floating {
    0% { bottom: 100vh; opacity: 0.7; }
    100% { bottom: -100vh; opacity: 0; }
}
